.app--container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto;
    background: red;
    height: 100vh;
    position: relative;
}

.navBar {
    background: yellow;
    height: 100px;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navBar--bottom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10px;
}

.navBar button {
    width: 80px;
    height: 30px;
    align-self: center;
}