.body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

.app--container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto;
    background: red;
    height: 100vh;
    position: relative;
}

.navBar {
    background: yellow;
    height: 100px;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navBar--bottom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10px;
}

.navBar button {
    width: 80px;
    height: 30px;
    align-self: center;
}

.appContent {
    background: blue;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 40px 30px 10px 30px;
    font-family: Verdana, sans-serif;
    font-size: .75em;
}

.appContent--image {
    border-radius: 10px;
}